<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>商铺信息展示页</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
	
	<div class="wrap-container clearfix">
  	<div class="column-content-detail">
  		<form class="layui-form" action="">
  			<div class="layui-form-item" style="margin-left:350px;">
  				<div class="layui-inline">
					<input type="text" id="table" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
				</div>
				
				<button type="button" class="layui-btn " data-type="reload" style="height:30px;background:#7185a2;line-height:30px;">搜索</button>
  			</div>
  		</form>
  		<div class="layui-form" id="table-list">
			<!-- <table class="layui-table"  lay-skin="nob" id="userTable"></table> -->
			<table class="layui-hide" id="demo" lay-filter="test" lay-skin="nob" ></table>
		</div>
      </div>
  </div>
	         
<!-- <table class="layui-hide" id="demo" lay-filter="test"></table> -->
<script src="/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
 
 
<script type="text/javascript"  th:inline="none">
layui.use('table', function(){
  var table = layui.table;
  
  table.render({
    elem: '#demo'
    ,url:'/shop/data/'
    ,type: 'POST'
    ,height: 312
    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
    ,request:{
        pageName: 'page' //页码的参数名称，默认：page
        ,limitName: 'limit' //每页数据量的参数名，默认：limit
    }
    
	,response: {
	    statusName: 'code' //数据状态的字段名称，默认：code
	    ,statusCode: 0 //成功的状态码，默认：0
	    ,msgName: '' //状态信息的字段名称，默认：msg
	    ,countName: 'count' //数据总数的字段名称，默认：count
	    ,dataName: 'data' //数据列表的字段名称，默认：data
	 }
	,page:  { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
        layout: [ 'prev', 'page', 'next', 'skip', 'count'] //自定义分页布局
        ,groups: 3 //只显示 1 个连续页码
        ,first: '首页' //不显示首页
        ,last: '尾页' //不显示尾页
        ,theme: '#7185a2'

    }
    ,id: 'shopReload'
    ,cols: [[ 
      {field:'id', title: 'ID', sort: true}
      ,{field:'title', title: '标题', width: '25%', minWidth: 100}
      ,{field:'region', width:160, title: '区域', sort: true}
      ,{field:'area', width:80, title: '面积', sort: true}
      ,{field:'type', width:80, title: '经营类型'}
      ,{field:'price', width:80, title: '价格', sort: true}
      ,{field:'time', width:160, title: '发布时间', sort: true}
      ,{field:'grabtime', width:160, title: '抓取时间', sort: true}
      ,{field:'href', title: '链接', width: '30%', minWidth: 100} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
    ]]
  });

  //根据条件查询表格数据重新加载
  var $ = layui.$, active = {
  	    reload: function(){
  	      var title = $('#title').val();
  	      table.reload('shopReload', {
  		    page: {
  		      curr: 1 //重新从第 1 页开始
  	        }
  	        //根据条件查询
  		    ,where: {
  			  shopVo:{
  				/* id: id
  			    ,title: title
  			    ,region: region
  			    ,areaS: areaS
  			    ,areaE: areaE
  			    ,type: type
  				,priceS: priceS
  				,priceE: priceE
  				,timeS: timeS
  				,timeE: timeE */
  				title: title
  			  }
  		    }
  	      });
  	   }
  	};

/* 	//点击搜索按钮根据用户名称查询
	$('#selectbyCondition').on('click',
          function(){
              var type = $(this).data('type');
              active[type] ? active[type].call(this) : '';
    }); */
  	
	// 通用按钮
	$('.layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });
})
</script>

</body>
</html>